/*Generales*/
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.row_evenly{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}
.column_between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.colorGris {
    color: #f2f2f2;
}
.backGris {
    background-color: #f2f2f2;
}
.colorBlue{
    color: #0065fc;
}
.backBlue {
    background-color: #0065fc;
}
.colorBlack {
    color: black;
}
.noDecoration{
    text-decoration: none;
}
.noBorder {
    border: none;
}

header{
    margin-top: -11px;
    width: 100%;
}

body{
    font-family: 'raleway', sans-serif;
    max-width: 1400px;
}
main{
    max-width: 1400px;
}
*{
    box-sizing: border-box;
}
/*NAV*/
.liens_nav{
    font-weight: 500;
    font-size: 16px;
    width: 25%;
    padding-top: 3px;
    text-decoration: none;
}

nav img{
    margin-left: 50px;
  
}
.sizeLien {
    height: 100px;
    width: 150px;
}
.bordureNav{
    border-top: 3px solid transparent;
    
}
.bordureNav:hover {
    border-top: 3px solid #0065fc;
}
.bordureNav:hover > a {
    color: #0065fc;
}
/*Section 1*/
h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}
p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
.sectionNav {
    width: 91%;
    margin-right: auto;
    margin-left: auto;
}
.searchBar {
    width: 400px;
    border: #f2f2f2 0.75px solid;
    border-radius: 10px;
    height: 50px;
    margin-top: 25px;
}

 .font_destination {
    height: 50px;
    width: 50px;
    border-radius: 10px 0px 0px 10px;
 }
.search {
    width: 230px;
    height: 50px;
    font-size: 18px ;
    font-weight: 700;
    color: black;
    padding-left: 20px;
}
.bouton {
    height: 50px;
    width: 120px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
}
/*Barre de filtres*/
.filtres {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 83%;
}
 .barre_filtres{
    width: 83%;
    display: flex;
    justify-content: space-evenly;
 }
 .bordureFiltres {
    height: 50px;
    width: 24%;
    border:  2px solid #D9D9D9;
    border-radius: 25px;
    padding-left: 3px;
    padding-right: 3px;
 }
 .IconeFiltres {
    color: #0065fc;
    padding-right: 15px;
 }
 .bordureFiltres:hover {
    background-color: #DEEBFF;
 }
 .textFiltres{
    color: black;
    font-size: 15px;
    font-weight: 700;
 }

 /* barre d'infos*/

 #information {
    display: flex;
    align-items: center;
    width: 500px;
    height: 24px;
    margin-bottom: 40px;
    
 }
 .iconeInfo {
    color: #0065fc;
    border-radius: 36px;
    box-shadow: 0 0 2px #888;
    padding: 5px 12px 8px 12px;
 }
 .text_info {
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
 }

/*HEBERGEMENT MARSEILLE*/
    .first_section{
        height: 680px;
    }
.hebergement_marseille {
    width: 65%;
    height: 680px;
    border-radius: 20px;
}
.hebergement_marseille h2 {
    padding-left: 42px;
    padding-top: 15px;
}
.blocs_1 {
    padding: 15px 17px 40px 22px;
}
.blocs_2 {
    padding-right: 17px;
    padding-left: 22px;
}
.hebergement_photo{
    border-radius: 20px 20px 0px 0px ;
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.card_hebergement {
    border-radius: 15px;
    background-color: white;
    box-shadow: 3px 4px 4px #D9D9D9; 
    width: 30%;
    padding: 5px 5px 0px 5px;
}
.container_card_hebergement{
    margin-top: -21px;
}

.text_container h3 {
    font-size: 16px;
    font-weight: 700;
    min-height: 26px;
    display: flex;
    height: fit-content;
}
.text_container p {
    font-size: 14px;
  
}
.afficher_plus{
    font-size: 18px;
    font-weight: 700;
    padding-left: 42px;
    padding-top: 35px;
}
/* populaires*/ 
.en-tete_pop{
    padding-top: 10px;
}


.populaire_marseille {
    height: 680px;
    width: 25%;
    border-radius: 20px;
}

.card_pop{
    background-color: white;
    width: 90%;
    border-radius: 20px;
    box-shadow:3px 3px 6px #D9D9D9;
   margin: 20px 20px 0px 15px;
}

.populaire_photo{
    width: 35%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    padding: 5px;
}
.container_card_pop{
    width: 60%;
}

.text_card_pop h3{
    font-size: 16px;
    font-weight: 700;
}
.text_card_pop p{
    font-size: 14px;
}

/*Activités Marseille*/
#activites h2 {
    margin-left: 45px;
    margin-top: 50px;
}
#grilleActivites{
    width: 100%;
    height: 540px;
}
.card_activites{
    height: 462px;
    width: 21%;
    border-radius: 20px;
    box-shadow: 3px 4px 4px #D9D9D9
}
.activite_photo{
    border-radius: 20px 20px 0px 0px;
    height: 409px;
    width: 100%;
    object-fit: cover;
}
#grilleActivites h3{
    font-size: 16px;
    font-weight: 600;
    padding-left: 22px;
}
/*footer*/
footer{
    width: 95%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
#container_footer{
    width: 85%;
    height: 220px;

}
.Bloc_footer{
    margin-right: 12px;
    min-height: 135px;
}
.Bloc_footer h3{
    padding-bottom: 2px;
}
.Bloc_footer div{
    padding-bottom: 8px;
}

/*Responsive Tablette*/

@media screen and (max-width: 991px){
    .filtres {
        width: 100%;
       }
    .barre_filtres{
    width: 100%;
        }
        .first_section{
            flex-direction: column;
            height: fit-content;
        }
        
    .hebergement_marseille{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 50px;
    }
    .populaire_marseille{
        width: 90%;
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
        height: fit-content;
    }
    .en-tete_pop{
        justify-content: space-between;
        padding: 0px 29px 0px 22px;
    }
    .bloc_3{
        flex-direction: row;
        margin-bottom: 40px;
    }
    .bloc_3>*{
        flex: 1 0 25%;
    }
    #grilleActivites{
        height: 334px;
    }
    .card_activites{
        height: 295px;
    }
    .activite_photo{
        height: 225px;
    }
}

@media screen and (max-width: 767px) {
    .MobileIntro{
        width: 100%;
        justify-content: center;
        
    }
    .filtres {
     flex-direction: column;
     height: fit-content;
     width: 100%;
    }
    .filtres h3 {
     display: flex;
     justify-content: flex-end;  
    }
    .barre_filtres{
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .barre_filtres>*{
        flex:0 1 48%;
        margin-top: 9px;
        justify-content: flex-start;
        padding-left: 22px;
    }
   
 
    nav{
        flex-direction:column;
    
    }
    .liens_nav{
        
        justify-content: center;
        font-weight: 500;
        font-size: 16px;
        width: 100%;
        padding-top: 3px;
        text-decoration: none;
    }
    .bordureNav{
        border-bottom: 3px solid transparent;
        
    }
    .bordureNav:hover {
        border-top: 3px solid transparent;
        border-bottom: 3px solid #0065fc;
    }

 
    }
    
