/*class Generales*/
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.row_evenly{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}
.column_between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.colorGris {
    color: #f2f2f2;
}
.backGris {
    background-color: #f2f2f2;
}
.colorBlue{
    color: #0065fc;
}
.backBlue {
    background-color: #0065fc;
}
.colorBlack {
    color: black;
}
.noDecoration{
    text-decoration: none;
}
.noBorder {
    border: none;
}
.bold{
    font-weight:600;
}
*{
    box-sizing: border-box;
}
h1, h2, h3,h4, h5,h6,p{
    margin: 0;
    padding: 0;
}
h2{
    font-size: 22px;
}
header{
    width: 100%;
    margin-bottom: 15px;
}
body{
    font-family: 'raleway', sans-serif;
    max-width: 1400px;
    margin: 0 auto;
}

/*NAV*/
.liens_nav{
    font-weight: 500;
    font-size: 16px;
    width: 30%;
}

nav img{
    margin-left: 55px;
}
.sizeLien {
    height: 100px;
    width: 50%;
}
.bordureNav{
    border-top: 3px solid transparent;
}
.bordureNav:hover {
    border-top: 3px solid #0065fc;
}
.bordureNav:hover > a {
    color: #0065fc;
}
/*Section 1*/
h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}
p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
#Section_1 {
    width: 91%;
    margin: 0 auto;
}
.searchBar {
    display: flex;
    align-items: center;
    width: 40%;
    border-radius: 15px;
    height: 50px;
    margin-top: 25px;
}
form{
    width: 100%;
}
.form_content{
    width: 100%;
}

 .font_destination {
    width: 15%;
    height: 50px;
    border-radius: 10px 0px 0px 10px;
 }
Input.search {
    width: 80%;
    height: 50px;
    font-size: 18px ;
    font-weight: 700;
    padding-left: 20px;
    border-top: #f2f2f2 solid 1px;
    border-bottom: #f2f2f2 solid 1px ;
}
.bouton {
    width: 30%;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
}
.icone_none{
   display: none !important;
  }

/*Barre de filtres*/
.filtres {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 83%;
}
 .barre_filtres{
    width: 100%;
    display: flex;
 }
 .bordureFiltres {
    height: 50px;
    border:  2px solid #D9D9D9;
    border-radius: 25px;
    padding:0px 16px 0px 15px;
    margin-left: 12px;
 }
 .IconeFiltres {
    padding-right: 15px;
 }
 .bordureFiltres:hover {
    background-color: #DEEBFF;
 }
 .textFiltres{
    font-size: 15px;
    font-weight: 700;
 }

 /* barre d'infos*/

 #information {
    display: flex;
    align-items: center;
    height: 24px;
    margin-bottom: 40px;
 }
 .iconeInfo {
    border-radius: 36px;
    box-shadow: 0 0 2px #888;
    padding: 5px 12px 8px 12px;
 }
 .text_info {
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
 }

/*HEBERGEMENT MARSEILLE*/
    .second_section{
        height: 680px;
    }
.hebergement_marseille {
    width: 65%;
    height: 680px;
    border-radius: 20px;
}
.hebergement_marseille h2 {
    padding: 40px 0px 0px 42px;
    margin-bottom: 8px;
}
.blocs_1 {
    padding: 15px 17px 40px 22px;
}
.blocs_2 {
    padding:0px 17px 0px 22px;
}
.hebergement_photo{
    border-radius: 20px 20px 0px 0px ;
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.card_hebergement {
    border-radius: 15px;
    background-color: white;
    box-shadow: 3px 4px 4px #D9D9D9; 
    width: 30%;
    padding: 5px 5px 0px 5px;
}
.container_card_hebergement{
    padding: 8px;
}

.text_container h3 {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    height: fit-content;
}
.text_container p {
    font-size: 14px;
    margin:8px 0px;
  
}
.afficher_plus{
    font-size: 18px;
    font-weight: 700;
    padding: 35px 0px 0px 42px;
}
/* populaires*/ 
.en-tete_pop{
    padding-top: 40px;
}
.populaire_marseille {
    height: 680px;
    width: 25%;
    border-radius: 20px;
}
.card_pop{
    background-color: white;
    width: 90%;
    border-radius: 20px;
    box-shadow:3px 3px 6px #D9D9D9;
    margin: 20px auto;
}
.populaire_photo{
    width: 35%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    padding: 5px;
}
.container_card_pop{
    width: 60%;
    padding: 10px 0px 5px 0px;
}
.text_card_pop h3{
    font-size: 16px;
    font-weight: 700;
}
.text_card_pop p{
    font-size: 14px;
}

/*Activités Marseille*/
#activites h2 {
    margin-left: 45px;
    margin-top: 50px;
}
#grilleActivites{
    width: 100%;
}
.card_activites{
    margin-top: 20px;
    margin-bottom: 50px;
    width: 21%;
    border-radius: 20px;
    box-shadow: 3px 4px 4px #D9D9D9
}
.activite_photo{
    border-radius: 20px 20px 0px 0px;
    height: 389px;
    width: 100%;
    object-fit: cover;
}
.titre_card_activite{
    font-size: 14px;
    padding-left: 17px;
    display: flex;
    align-items: center;
    height: 56px;
}
/*footer*/
footer{
    width: 95%;
    display: flex;
    align-items: center;
     margin: 0 auto;
}
#container_footer{
    width: 85%;
    height: 220px;

}
.Bloc_footer{
    line-height: 18px;
    margin-right: 12px;
    min-height: 135px;
}
.Bloc_footer h3{
    padding-bottom: 20px;
    font-size: 17px;
    line-height: 21px;
}
.lien_footer{
    padding-top: 8px;
    font-size: 15px;
    line-height: 19px;
}

/*Responsive Tablette*/

@media screen and (max-width: 991px){
    /*Barre de recherche Tablette*/
    .searchBar{
        width: 50%;
    }
    .search{
        width: 80%;
    }
    .font_destination{
        width: 20%;
    }
    .bouton{
        width: 30%;
    }
    .filtres {
        width: 100%;
       }
    .barre_filtres{
    width: 100%;
    justify-content: space-around;
        }
    .bordureFiltres{
        padding: 0px 8px 0px 9px;
    }
    #activites> h2{
        margin-left: 33px;
    }
    /*Section principale Tablette*/

 .second_section{
    width: 100%;
     flex-direction: column;
     height: fit-content;
    }
    /*Hebergement Tablette*/   

    .hebergement_marseille{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 50px;
    }
      /*Populaire Tablette*/ 
    .populaire_marseille{
        width: 90%;
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
        height: fit-content;
    }
    .en-tete_pop{
        justify-content: space-between;
        padding: 25px 29px 0px 22px;
    }
    .bloc_3{
        flex-direction: row;
        margin-bottom: 35px;
        margin-top: 10px;
    }
    .bloc_3>*{
        flex: 0 0 30%;
    }
      /*Activités Tablette*/ 
    .activite_photo{
        height: 211px;
    }
}
/*Responsive Mobile*/
@media screen and (max-width: 767px) {
  /*Barre de navigation Mobile*/ 
    nav img{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-left: 0px;
    }
    nav{
        flex-direction:column;
        margin-bottom: 30px;
    }
    .liens_nav{
        justify-content: center;
        font-weight: 500;
        font-size: 16px;
        width: 100%;
        padding-top: 3px;
        text-decoration: none;
    }
    .bordureNav{
        border-bottom: 3px solid #f2f2f2;
        height: 60px;
        width: 100%;
    }
    .bordureNav:hover {
        border-top: 3px solid transparent;
        border-bottom: 3px solid #0065fc;
    }
   /* Première section*/
    .MobileIntro{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    /*Barre de recherche*/
    .searchBar{
        width: 100%;
    }
    .form_content{
        width: 100%;
    }
    .font_destination{
        width: 20%;
    }
    Input.search{
        width: 100%;
        border: 1px solid #f2f2f2;
    }
    .bouton{
        width: 20%;
    }
    .button_text{
        display: none;
    }
    .icone_none{
        display: block !important;
     }
/*Barre de Filtres Mobile*/ 
    .filtres {
     flex-direction: column;
     align-items: flex-start;
     height: fit-content;
     width: 100%;
    }
    .filtres h2 {
     display: flex;
     justify-content: flex-end;  
    }
    .textFiltres{
     font-size: 12px;   
     font-weight: 700;
    }
    .barre_filtres{
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .barre_filtres>*{
        flex:0 1 48%;
        margin-top: 9px;
        justify-content: center;
        margin-left: 0px;
    }
/*Hebergement Mobile*/ 
    .hebergement_marseille{
        height: fit-content;
        width: 100%;
        background-color: transparent;
        order:1
    }
    .hebergement_marseille h2{
        padding: 30px 0px 30px 30px;
    }
    .blocs_1{
        flex-direction: column;
        height: fit-content;
        padding: 0px;
    }
    .blocs_2{
        flex-direction: column;
        height: fit-content;
        padding: 0px;
    }
    .card_hebergement{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 15px;
        box-shadow: 3px 6px 15px #D9D9D9;
    }
    .hebergement_photo{
        height: 124px;
    }
    .afficher_plus{
        display: none;
    }
/*Populaire Mobile*/ 
    .populaire_marseille{
        width: 100%;
        order: 0;
        border-radius: 0px;
    }
    .bloc_3{
        flex-direction: column;
    }
    .populaire_photo{
        width: 40%;
        height: 144px;
    }
    .container_card_pop{
        padding-left: 15px;
    }
    /*Activités Mobile*/
    #activites{
        height: fit-content;
    }
    #activites h2{
        max-width: 120px;
        margin-left: 34px;
        margin-top: 0;
    }
    #grilleActivites{
        height: fit-content;
        flex-direction: column;
    }
    .activite_photo{
        height: 134px;
    }
    .card_activites{
        width: 90%;
        height: 190px;
       margin: 15PX auto 0px auto;
    }
    /*footer Mobile*/
    footer{
        margin-top:70px ;
        width: 100%;
    }
    #container_footer{
        flex-direction: column;
        align-items: flex-start;
        margin: 25px 0pX 40px 30px;
        height: fit-content;
    }
    .Bloc_footer{
        height: fit-content;
        margin-top: 20px;
    }
    }
    
